/*reset css*/

*,
::before,
::after{
    /*选择所有的标签*/
    margin: 0;
    padding: 0;
    /*清除移动端 默认高亮效果*/
    -webkit-tap-highlight-color: transparent;
      /*设置所有的都是以边框开始计算宽度，百分比、*/
    -webkit-box-sizing: border-box;/*兼容*/
    box-sizing: border-box;
}
body{
    font-size:14px ;
    font-family:"Microsoft YaHei",sans-serif  ;
    color:#333;
}

a {text-decoration: none;outline:none;blr:expression(this.onFocus=this.blur());}

a:hover{
    text-decoration: none;
}
input,textarea{
    border: none;
    outline: none ;
    /*清除移动默认的表单样式*/
    -webkit-appearance: none;
}
em { font-style:normal; }
li { list-style:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
textarea { resize:none; overflow:auto; }
.topbox h2{
    font-family: Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",arial,Tahoma,SimSun,"sans-serif" !important;
}

/*
common css共用css样式
 */
.f_left{
    float: left;
}
.f_right{
    float:right;
}
.clearfix::before,
.clearfix::after{
    content:"";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
